In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_excel('db.xlsx')
data.head()

  INSTALLATION_TYPE  SALES_CODE  VERSION_CODE
0                 S        2004           212
1                 S        2004           212
2                 S        2004           212
3                 S        2004           212
4                 S        2004           230

Дата сет содержит описания агрегатов. 1 столбец тип установки. 2 столбец код серии агрегата. 3 столбец код серии движка агрегата. 

Тип установки является категориальной переменной не имеющей сильного влияния на цену арегата. 

Проведем one hot encoding типа установки.

In [3]:
data = pd.read_excel('db.xlsx')
data = pd.get_dummies(data, columns =['INSTALLATION_TYPE'])
data.head()

,SALES_CODE,VERSION_CODE,INSTALLATION_TYPE_-,INSTALLATION_TYPE_F,INSTALLATION_TYPE_H,INSTALLATION_TYPE_P,INSTALLATION_TYPE_S,INSTALLATION_TYPE_T,INSTALLATION_TYPE_X,INSTALLATION_TYPE_Z
0,2004,212,0,0,0,0,1,0,0,0
1,2004,212,0,0,0,0,1,0,0,0
2,2004,212,0,0,0,0,1,0,0,0
3,2004,212,0,0,0,0,1,0,0,0
4,2004,230,0,0,0,0,1,0,0,0

Цена агрегата линейно зависит от серии движка и серии агрегата. Чем больше серия тем больше габбариты и тем больше цена.

In [4]:
#Целевая метка (цена агрегата)
y = 20*data['SALES_CODE'] + 100*data['VERSION_CODE']
y.head(5)

0    61280
1    61280
2    61280
3    61280
4    63080
dtype: int64

In [6]:
from sklearn.metrics import mean_absolute_error

X = data

reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(X)
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [ 2.00000000e+01  1.00000000e+02 -4.77665130e-12 -1.81045630e-12
 -8.18097326e-13 -3.90687482e-13  9.50561851e-12  8.92758090e-13
 -3.41382478e-12  8.07749700e-13]
Bias: 4.802132025361061e-10
Error: 1.217184241899955e-10

Значения первых двух коэффициентов 20 и 100 найдены правильно. Ошибка мала.